########################################################
# This is the core settings file for Elastic Beanstalk #
########################################################

option_settings:

# Tell nginx where to find us
  aws:elasticbeanstalk:container:python:
    WSGIPath: percy.wsgi:application

# Set load balancer to Application type
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

# Use our own security group - required so we don't fail the first
# time we start. This way we can set security access before launching
# EB. Required for database and file system access.
# Note: we are using the same security group for test, UAT and prod
# which is not perfect, but better than the hassle of different groups.
# The DBs have different password so are not at risk. The file system
# is only storing images with unique names so also not a big risk.
# https://docs.aws.amazon.com/vpc/latest/userguide/VPC_SecurityGroups.html#CreatingSecurityGroups
  aws:autoscaling:launchconfiguration:
    SecurityGroups: CobaltEBDefaultSecurityGroup

# Defaults and health settings
  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: '20'
    HealthCheckInterval: '15'
    HealthCheckPath: /health
    HealthCheckTimeout: '5'
    HealthyThresholdCount: '3'
    UnhealthyThresholdCount: '5'
    Port: '443'
    Protocol: HTTPS
    StickinessEnabled: 'true'
    StickinessLBCookieDuration: '43200'

# HTTPS including our certificate definition
    aws:elbv2:listener:443:
      DefaultProcess: https
      ListenerEnabled: 'true'
      Protocol: HTTPS
      SSLCertificateArns: arn:aws:acm:ap-southeast-2:730536189139:certificate/6c452886-913a-45b7-82e4-19966e587261
    aws:elasticbeanstalk:environment:process:https:
      Port: '443'
      Protocol: HTTPS

    aws:elasticbeanstalk:environment:proxy:staticfiles:
      /static: static
