option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: percy.wsgi:application

# comment
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

  aws:autoscaling:launchconfiguration:
    SecurityGroups: MySecurityGroup

  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: '20'
    HealthCheckInterval: '15'
    HealthCheckPath: /
    HealthCheckTimeout: '5'
    HealthyThresholdCount: '3'
    UnhealthyThresholdCount: '5'
    Port: '80'
    Protocol: HTTP
    StickinessEnabled: 'true'
    StickinessLBCookieDuration: '43200'
